<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>AppCenar</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-5">
  {{{body}}}
</body>
</html>
