<h2>Restablecer contrase単a</h2>

{{#if message}}
  <div class="alert alert-danger">{{message}}</div>
{{/if}}

<form action="/resetear-contrasena" method="POST">
  <input type="hidden" name="token" value="{{token}}">
  <input type="password" name="password" class="form-control my-2" placeholder="Nueva contrase単a" required>
  <input type="password" name="confirmPassword" class="form-control my-2" placeholder="Confirmar contrase単a" required>
  <button class="btn btn-success">Guardar nueva contrase単a</button>
</form>

<a href="/login">Volver al login</a>
